<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br></br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a Catchy title"
          type="text"
          class="form-control"
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          placeholder=""
          id="desc"
        ></textarea>
        <div class="invalid-feedback">Please enter short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/Link"
          type="text"
          class="form-control"
          id="image"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            id="price"
            placeholder="1200"
          />
          <div class="invalid-feedback">Price Should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            required
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Pune ,Maharashtra"
          required
          id="loc"
          type="text"
          class="form-control"
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <br />
      <button class="btn btn-dark add-btn mt-2">Add</button>
    <br/>
    <br/><br/><br/><br/><br/>
    </form>
  </div>
</div>
